doctype html
html
  head
    meta name="keywords" content="documenation cocoapods objective-c packcage manager"
    meta charset="utf-8"
    title CocoaPods Documentation
    link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"
    link rel="stylesheet" type="text/css" href="style.css"

  body
    .container
      #body
        #sections-container
          ul
            li#current_section
              h3
                a href="#" Index

        #content-container
          markdown:

            ## User

            ### Docs

            [Podfile](podfile.html)

            Learn how to write dependencies requirements for CocoaPods.

            [Specification](specification.html)

            Learn how to write specifications for libraries.

            Command Line

            For command line ninjas.

            ### Workflows

            [Adopting CocoaPods](workflows/adopting_cocoapods.html)

            [Dependency version workflow](workflows/dependency_version_workflow.html)

            Working with teams

            Working on a library

            Creating and maintaining a Pod

            Creating your own repository of specifications

            ---

            ## Developer Documentation

            [CocoaPods-Core](./developer/cocoapods_core.html)

            CocoaPods

            [Xcodeproj](./developer/xcodeproj.html)

            CLAide
